@import "tailwindcss";

:root {
  --background: #0a1733;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  /* Brand Colors */
  --color-brand-blue: #0a1733;
  --color-accent-orange: #ff7300;
  --color-brand-purple: #720075;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
